@font-face {
  src: url("MedusaGothic D.otf");
  font-family: "MedusaGothic D";
}

body {
  color: #82a5ca;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  /* font-family: "MedusaGothic D"; */
}

.btn {
  margin: 0 auto;
  padding: 6px 12px;
  background: white;
  border: none;
  font-family: "Orbitron", sans-serif;
  color: #82a5ca;
  font-weight: 800;
}

.underline {
  border-bottom: 4px solid white;
  /* text-decoration: underline; */
}

#main-logo {
  width: 100px;
  /* margin: 20px auto; */
}

#hero {
  background-image: url("./images/galaxy.webp");
  background-size: cover;
  padding: 10px 0 40px 0;
}

.footer {
  background-color: white;
  margin: 0;
  padding: 0;
}

h3 {
  width: 100%;
}
